{{- define "main" }}
<div class="about-img">
  <img src="" class="img-hide" />
  <div class="about-img-text">好精雀需要你！</div>
  <div class="about-img-intro"></div>
</div>
<div class="about-text">
“好精雀”这个名字的由来，是为推广“精雀”品牌而衍生出来的，当时就想着区别于其他团队，渐渐叫顺口了，也就成了现在团队的名称。
</div>
<div class="about-text">
2022年7月左右，精雀品牌启航了~ <br>
精雀和砭雀同属山东沐熙生物科技，后期为了备案和运营区分，才将砭雀和精雀做了细分，精雀专注于“精油”方向，砭雀专注于“砭石”方向，两者的结合就是你在网络上和实体店看到的样子。
  </div>
<div class="about-text">
好精雀团队擅长互联网运营，包括但不限于短视频运营、直播间运营、小红书、视频号等，私域流量运营。<br>
当一名用户从线上加好友开始，服务才刚刚开始。我们的服务宗旨是“满意和更满意”，一切运营活动都围绕提升用户体验而展开，拥有服务意识是团队成员的必要素质。
</div>
<div class="photo-about" view-image>
<script src="/js/about-photo.js"></script>
</div>
<div class="about-text">
团队未来着力将互联网入口集中在微信公众号【好精雀自愈】，团队将会更加专注提供优质服务，提升用户服务相应速度。<br>
目前好精雀团队在做的事情：<br>
1.团队搭建：短视频、直播相关人才，私域运营人才<br>
2."精油"产品销售，打磨全域销售渠道。<br>
3.搭建团队运营学习系统，有余力还会对外提供收费服务。<br>
<img class="wechat" src="https://cdn.tuiqiao.cc/site/hjq_qrcode.webp"/>
</div>
<div class="article-comments">
  {{- partial "artalk" . -}}
</div>
{{- end }}