{{ define "main" }}
{{ $goods := getJSON "static/suju/app.json" }}
<div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}{{ end }}</h1>
</div>
<div class="pagetitle">目标一致的团队，战斗力才能更强。所以，团队需要同频的奋斗者，而不是拖油瓶。筛选的严格，只为高效协作，别怕，团队是蛮有爱的。等你加入团队吖。：( 2023-08-08 更新 )</div>
<div class="appdquanjudiv">
  {{ range $goods.good}}
<div class="appquanju img-hide">
<div class="appimg"><img loading="lazy" decoding="async" src={{ .image }}> </div>
<div class="appwenben">
<div class="apptitle"><a href="{{ .link }}" target="_blank">{{ .title }}</a></div>
<div class="appnote">{{ .info }}</div>
<div class="appzhuangtai">
<div class="macos">{{ .macos }}</div>
<div class="macos">{{ .ios }}</div>
<div class="macos">{{ .tvos }}</div>
<div class="macos">{{ .web }}</div>
<div class="appzhuangtai-right">
<a href="{{ .link }}" target="_blank"><div class="kaiyuan">{{ .kaiyuan }}</div></a>
<a href="{{ .link }}" target="_blank"><div class="shoufei">{{ .shoufei }}</div></a>
<a href="{{ .link }}" target="_blank"><div class="free">{{ .free }}</div></a>
</div>
</div>
</div>
</div>
  {{ end }}
</div>
  <div class="article-comments">
    {{- partial "artalk" . -}}
  </div>
{{ end }}